@charset "UTF-8";
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body {
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.l-header {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.l-underlayer-header {
  width: 100%;
}

.l-underlayer-header__inner {
  display: flex;
  align-items: center;
  padding: 20px;
  color: #000000;
}

.l-underlayer-header__logo {
  display: flex;
  align-items: center;
}

.l-underlayer-header__ttl {
  margin-left: 15px;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.1em;
}

.l-footer {
  background-image: url(../../img/bg3.png);
}

.l-inner {
  max-width: 1220px;
  padding-inline: 20px;
  margin: auto;
}

.c-section-title__logo {
  margin-bottom: 1.25rem;
}

.c-section-title__txt {
  font-size: 2.25rem;
}

.c-section-title__txt--footer {
  font-size: 2rem;
  font-weight: bold;
}

.c-card {
  display: flex;
  height: 8.125rem;
  padding: 0.9375rem 0.625rem;
  background-color: #f6f6f6;
}

.c-card__img {
  aspect-ratio: 1.03;
}

.c-card__body {
  padding-left: 1.875rem;
  text-align: start;
}

.c-card__time {
  font-size: 0.875rem;
}

.c-card__txt {
  margin-top: 0.625rem;
  font-size: 1rem;
}

.p-header__wrap {
  display: flex;
  align-items: center;
  padding: 20px;
  color: #fff;
}

.p-header__logo {
  display: flex;
  align-items: center;
}

.p-header__title {
  margin-left: 15px;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.1em;
}

.js-header.black-text {
  color: #000000;
}

.js-header-logo.white-logo {
  display: none;
}

.js-header-logo-ul {
  display: none;
}

.js-header-logo-ul.black-logo {
  display: block;
}

.p-gnav__list {
  display: flex;
  margin-left: 120px;
  gap: 0 30px;
}
.p-gnav__item {
  font-weight: bold;
}

.p-gnav--vertical {
  padding-top: 64px;
  margin-bottom: 96px;
}

.p-gnav__list--vertical {
  display: flex;
  flex-direction: column;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  margin: auto;
  gap: 34px 0;
  letter-spacing: 1em;
  font-size: 1.125rem;
}

.p-gnav__item--vertical {
  font-size: 1.125rem;
}

.p-reserve {
  display: flex;
  margin-left: auto;
  padding: 20px 37px;
  background-color: #978f10;
}
.p-reserve button {
  margin-left: 10px;
  color: #fff;
  font-weight: bold;
}

.p-mv {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.p-mv__txt {
  position: absolute;
  top: 30%;
  left: 66%;
  color: #ffffff;
  font-weight: bold;
  font-size: 2.125rem;
  line-height: 2.5;
  letter-spacing: 0.5em;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}

.p-mv__wrap {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  min-height: 100vh;
}

.p-mv__img {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: slider-1 24s linear infinite;
          animation: slider-1 24s linear infinite;
}

.p-mv__img:nth-child(1) {
  background-image: url(../../img/mainbg01.jpg);
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.p-mv__img:nth-child(2) {
  background-image: url(../../img/mainbg02.jpg);
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.p-mv__img:nth-child(3) {
  background-image: url(../../img/mainbg03.jpg);
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
}

@-webkit-keyframes slider-1 {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  4.16% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  41.66% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
  }
}

@keyframes slider-1 {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  4.16% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  41.66% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
  }
}
.p-opening {
  max-width: 100%;
  background: url(../../img/bg.jpg) no-repeat center center/cover;
}

.p-opening__wrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 6.25rem;
  padding-top: 9.375rem;
  padding-bottom: 7.5rem;
  line-height: 2.5;
  letter-spacing: 0.5em;
  gap: 7.375rem 0;
  text-orientation: upright;
}
@media screen and (max-width: 768px) {
  .p-opening__wrap {
    display: flex;
    flex-direction: column;
    padding-top: 3.125rem;
    line-height: 1.5;
    letter-spacing: 0.2em;
    gap: 3.125rem 0;
  }
}

.p-opening__ttl {
  font-size: 1.75rem;
  text-indent: -2.6em;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}
@media screen and (max-width: 768px) {
  .p-opening__ttl {
    text-indent: 0;
    -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
  }
}

.p-opening__txt1 {
  font-size: 1rem;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}
@media screen and (max-width: 768px) {
  .p-opening__txt1 {
    -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
  }
}

.p-opening__txt2 {
  font-size: 1rem;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}
@media screen and (max-width: 768px) {
  .p-opening__txt2 {
    -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
  }
}

.p-opening__txt3 {
  font-size: 1rem;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}
@media screen and (max-width: 768px) {
  .p-opening__txt3 {
    -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
  }
}

.p-opening__txt4 {
  padding-top: 335px;
  padding-top: 320px;
  font-size: 1.375rem;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}
@media screen and (max-width: 768px) {
  .p-opening__txt4 {
    padding-top: 0;
    -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
  }
}

.p-contents {
  display: grid;
  gap: 7.5rem 0;
  margin-bottom: 4.875rem;
}

.p-contents__wrap {
  display: flex;
  gap: 0 6.8%;
  align-items: flex-start;
}
@media screen and (max-width: 1180px) {
  .p-contents__wrap {
    display: block;
  }
}

.p-contents__img {
  max-width: 1050px;
  width: 55.2%;
}
@media screen and (max-width: 1180px) {
  .p-contents__img {
    width: 100%;
  }
}

.p-contents__wrap--revere {
  flex-direction: row-reverse;
}

.p-contents__concept {
  padding-top: 1.375rem;
  padding-bottom: 5.625rem;
}
@media screen and (max-width: 1180px) {
  .p-contents__concept {
    padding-bottom: 0;
  }
}

.p-contents__title {
  font-size: 2.25rem;
  line-height: 1.7222222222;
  padding-bottom: 4.6875rem;
}
@media screen and (max-width: 1500px) {
  .p-contents__title {
    font-size: 1.75rem;
    padding-bottom: 3.4375rem;
  }
}
@media screen and (max-width: 1300px) {
  .p-contents__title {
    font-size: 1.5rem;
    padding-bottom: 2.8125rem;
  }
}

.p-contents__txt {
  font-size: 1rem;
  line-height: 2;
  padding-bottom: 4.6875rem;
}
@media screen and (max-width: 1500px) {
  .p-contents__txt {
    padding-bottom: 3.4375rem;
  }
}
@media screen and (max-width: 1300px) {
  .p-contents__txt {
    padding-bottom: 2.1875rem;
  }
}

.p-contents__link {
  font-size: 1rem;
  display: inline-block;
  border: solid 1px #707070;
  padding: 1.25rem 2.75rem;
}

.p-plan {
  padding-top: 3.75rem;
  padding-bottom: 10.375rem;
  background: url(../../img/bg02.jpg) no-repeat center center/cover;
  text-align: center;
}

.p-plan__wrap {
  display: grid;
  margin-top: 4.125rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 5.875rem;
}
@media screen and (max-width: 768px) {
  .p-plan__wrap {
    grid-template-columns: 1fr;
    gap: 3.125rem 0;
  }
}

.p-plan__body {
  text-align: start;
}

.p-plan__img {
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .p-plan__img {
    width: 100%;
  }
}

.p-plan__title {
  margin-bottom: 2.25rem;
  font-size: 1.25rem;
  line-height: 1.6;
}

.p-plan__txt {
  font-size: 1rem;
  line-height: 2;
}

.p-news {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  text-align: center;
}

.p-news__select {
  margin-top: 2.875rem;
  margin-bottom: 3.0625rem;
}

.p-news__select span:first-child {
  text-decoration: underline;
}

.p-news__select span:last-child {
  margin-left: 3.125rem;
}

.p-access {
  padding-top: 3.75rem;
  padding-bottom: 6.875rem;
  background-image: url(../../img/bg.jpg);
  text-align: center;
}

.p-access__wrap {
  display: grid;
  align-items: center;
  padding-top: 5.25rem;
  grid-template-columns: 1.5fr 1fr;
  gap: 0 5.25rem;
}
@media screen and (max-width: 768px) {
  .p-access__wrap {
    grid-template-columns: 1fr;
    gap: 1.875rem 0;
  }
}

@media screen and (max-width: 768px) {
  .p-access__img {
    width: 100%;
  }
}

.p-access__txt {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-align: start;
  gap: 1.5rem 0;
}

.p-iframe {
  width: 60%;
  margin-top: 4.3125rem;
  aspect-ratio: 1.3378378378;
}
@media screen and (max-width: 768px) {
  .p-iframe {
    width: 100%;
  }
}

.p-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 2fr);
  gap: 20px 46px;
}
@media screen and (max-width: 768px) {
  .p-cards {
    grid-template-columns: 1fr;
  }
}

.p-footer {
  text-align: center;
}

.p-footer__address {
  margin-top: 4.5rem;
}

.p-footer__address span:last-child {
  margin-left: 1.3125rem;
  letter-spacing: 0.18em;
}

.p-footer__tell {
  margin-top: 1.4375rem;
  margin-bottom: 3.8125rem;
}

.p-footer__tell span:last-child {
  margin-left: 1.3125rem;
}

.p-footer__copy {
  display: block;
  padding: 23px 0;
  text-align: center;
  color: #fff;
  background-color: #000000;
}

.p-sub__mv {
  position: relative;
  width: 100%;
  height: 31.25rem;
  background: url(../../img/oheya-header.png) no-repeat center center/cover;
}

.p-sub__mv-cooking {
  position: relative;
  width: 100%;
  height: 31.25rem;
  background: url(../../img/menu-header.png) no-repeat center center/cover;
}

.p-sub__mv-onsen {
  position: relative;
  width: 100%;
  height: 31.25rem;
  background: url(../../img/onsen-header.jpg) no-repeat center center/cover;
}

.p-sub__mv-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2.125rem;
}

.p-sub-contents__txt {
  margin-top: 6.125rem;
  margin-bottom: 4.875rem;
  font-size: 1rem;
  line-height: 2;
  text-align: center;
}

.p-sub-contents__wrap {
  display: flex;
  position: relative;
  margin-bottom: 13.875rem;
}
@media screen and (max-width: 1180px) {
  .p-sub-contents__wrap {
    display: block;
    margin-bottom: 7.625rem;
  }
}

.p-sub-contents__wrap--reverse {
  flex-direction: row-reverse;
}

.p-sub-contents__img {
  width: 44.4915254237%;
}
@media screen and (max-width: 1180px) {
  .p-sub-contents__img {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 1180px) {
  .p-sub-contents__img img {
    width: 100%;
  }
}

.p-sub-contents__body {
  height: 23.8125rem;
  position: absolute;
  top: 10%;
  z-index: -3;
  width: 68.8983050847%;
  background-image: url(../../img/bg.jpg);
}
@media screen and (max-width: 1180px) {
  .p-sub-contents__body {
    position: static;
    width: 100%;
    margin: auto;
  }
}

.p-sub-contents__body--right {
  left: 31.1%;
}

.p-sub-contents__body--left {
  left: 0;
}

.p-sub-contents__des {
  padding-bottom: 5.9375rem;
  padding-left: 30.012300123%;
}
@media screen and (max-width: 1180px) {
  .p-sub-contents__des {
    margin: auto;
    padding: 0;
    padding-bottom: 3.75rem;
    text-align: center;
  }
}

.p-sub-contents__des--left {
  padding-left: 7.3800738007%;
}
@media screen and (max-width: 1180px) {
  .p-sub-contents__des--left {
    margin: auto;
    padding: 0;
    padding-bottom: 3.75rem;
    text-align: center;
  }
}

.p-sub-contents__des h3 {
  padding-top: 3.75rem;
  font-size: 1.5rem;
  line-height: 1.3333333333;
}

.p-sub-contents__des p {
  padding-top: 3.25rem;
  font-size: 1rem;
  line-height: 2;
}

.p-sub-contents__des span {
  display: inline-block;
  padding-top: 3.25rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.p-breadcrumb {
  margin-top: 2.25rem;
}

.p-breadcrumb li {
  display: inline;
}

.p-breadcrumb li:after {
  padding: 0 0.2em;
  color: #555555;
  content: ">";
}

.p-breadcrumb li:last-child:after {
  content: "";
}

.p-breadcrumb li a {
  color: #000000;
}

.p-breadcrumb li a:hover {
  text-decoration: underline;
}

.p-table {
  margin-bottom: 5.9375rem;
}

.p-table__title {
  margin-bottom: 3.1875rem;
  padding-top: 5.9375rem;
  border-top: solid 1px #e7e7e7;
  font-size: 1.625rem;
  text-align: center;
}

.p-table__body {
  display: grid;
  padding-right: 9.375rem;
  padding-bottom: 5.9375rem;
  padding-left: 9.375rem;
  border-bottom: solid 1px #e7e7e7;
  font-size: 0.9375rem;
  grid-template-columns: 0.25fr 0.75fr;
}
@media screen and (max-width: 768px) {
  .p-table__body {
    padding: 0;
  }
}

.p-table__header {
  padding: 1.0625rem 0;
  border-top: solid 1px #e7e7e7;
}

.p-table__data {
  padding: 1.0625rem 0;
  border-top: solid 1px #e7e7e7;
}

.p-table__header:nth-last-of-type(2) {
  border-bottom: solid 1px #e7e7e7;
}

.p-table__data:last-of-type {
  border-bottom: solid 1px #e7e7e7;
}/*# sourceMappingURL=style.css.map */