@use "../global" as *;

.l-underlayer-header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 20;
  top: 0;
  left: 0;
}
.l-underlayer-header__inner {
  display: flex;
  align-items: center;
  padding: 20px;
  color: $block-color;
}
.l-underlayer-header__logo {
  display: flex;
  align-items: center;
  @include mq(md) {
    display: block;
    text-align: center;
  }
}

.l-underlayer-header__ttl {
  margin-left: 15px;
  font-weight: bold;
  font-size: rem(32);
  letter-spacing: 0.1em;
  @include mq(md) {
    margin-right: 0;
    font-size: rem(20);
    margin: auto;
    padding-top: rem(10);
  }
}
