@use "../global" as *;
@use "sass:math";

.p-access {
  padding-top: rem(60);
  padding-bottom: rem(110);
  background-image: url(../../img/bg.jpg);
  text-align: center;
}
.p-access__wrap {
  display: grid;
  align-items: center;
  padding-top: rem(84);
  grid-template-columns: 1.5fr 1fr;
  gap: 0 rem(84);
  @include mq(md) {
    grid-template-columns: 1fr;
    gap: rem(30) 0;
  }
}
.p-access__img {
  @include mq(md) {
    width: 100%;
  }
}
.p-access__txt {
  display: flex;
  flex-direction: column;
  font-size: rem(16);
  text-align: start;
  gap: rem(24) 0;
}

.p-iframe {
  width: 60%;
  margin-top: rem(69);
  aspect-ratio: math.div(792, 592);
  @include mq(md) {
    width: 100%;
  }
}
