@use "../global" as *;
@use "sass:math";

.p-contents {
  display: grid;
  gap: rem(120) 0;
  margin-bottom: rem(78);
  @include mq(lg) {
    padding-inline: rem(20);
    text-align: center;
  }
}
.p-contents__wrap {
  display: flex;
  gap: 0 6.8%;
  align-items: flex-start;
  @include mq(lg) {
    display: block;
  }
}
.p-contents__img {
  max-width: 1050px;
  width: 55.2%;
  @include mq(lg) {
    width: 100%;
  }
}
.p-contents__wrap--revere {
  flex-direction: row-reverse;
}
.p-contents__concept {
  padding-top: rem(22);
  padding-bottom: rem(90);
  @include mq(lg) {
    padding-bottom: 0;
  }
}
.p-contents__title {
  font-size: rem(36);
  line-height: calc(62 / 36);
  padding-bottom: rem(75);
  @include mq(xxl) {
    font-size: rem(28);
    padding-bottom: rem(55);
  }
  @include mq(xl) {
    font-size: rem(24);
    padding-bottom: rem(45);
  }
}
.p-contents__txt {
  font-size: rem(16);
  line-height: calc(32 / 16);
  padding-bottom: rem(75);
  @include mq(xxl) {
    padding-bottom: rem(55);
  }
  @include mq(xl) {
    padding-bottom: rem(35);
  }
}
.p-contents__link {
  font-size: rem(16);
  display: inline-block;
  border: solid 1px #707070;
  padding: rem(20) rem(44);
}
