@use "../global" as *;

.p-header.black {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 20;
  top: 0;
  left: 0;
}
.p-header__wrap {
  display: flex;
  align-items: center;
  padding: 20px;
  color: $white-color;
}
.p-header__logo {
  display: flex;
  align-items: center;
  @include mq(md) {
    display: block;
    text-align: center;
  }
}
.p-header__title {
  margin-left: 15px;
  font-weight: bold;
  font-size: rem(32);
  letter-spacing: 0.1em;
  @include mq(md) {
    margin-right: 0;
    font-size: rem(20);
    margin: auto;
    padding-top: rem(10);
  }
}
.p-header__title.black {
  color: black;
}
