@use "../global" as *;

.p-mv {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(../../img/mainbg01.jpg) no-repeat center center/cover;
}
.p-mv__txt {
  position: absolute;
  top: 22%;
  left: 66%;
  color: #ffffff;
  font-weight: bold;
  font-size: rem(34);
  line-height: 2.5;
  letter-spacing: 0.5em;
  writing-mode: vertical-rl;
}
