@use "../global" as *;

.p-gnav {
  &__list {
    display: flex;
    margin-left: 120px;
    gap: 0 30px;
  }
  &__item {
    font-weight: bold;
  }
}

.p-gnav--vertical {
  padding-top: 64px;
  margin-bottom: 96px;
}

.p-gnav__list--vertical {
  display: flex;
  flex-direction: column;
  writing-mode: vertical-rl;
  margin: auto;
  gap: 34px 0;
  letter-spacing: 1em;
  font-size: rem(18);
}

.p-gnav__item--vertical {
  font-size: rem(18);
}
