@use "../global" as *;

.p-news {
  padding-top: rem(60);
  padding-bottom: rem(60);
  text-align: center;
}
.p-news__select {
  margin-top: rem(46);
  margin-bottom: rem(49);
  cursor: pointer;
}

.p-news__select span:last-child {
  margin-left: rem(50);
}
