@use "../global" as *;

.p-gnav__list {
  @include mq(md) {
    margin-left: 0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: rem(30);
  }
  display: flex;
  margin-left: 120px;
  gap: 0 30px;
}
.p-gnav__list.black {
  color: black;
}

.p-gnav__item {
  font-weight: bold;
  @include mq(md) {
    text-align: center;
    padding-bottom: rem(100);
  }
}

.p-gnav--vertical {
  margin-bottom: 96px;
  padding-top: 64px;
}

.p-gnav__list--vertical {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: rem(18);
  letter-spacing: 1em;

  writing-mode: vertical-rl;
  gap: 34px 0;
}

.p-gnav__item--vertical {
  font-size: rem(18);
}
