@use "../global" as *;
@use "sass:math";

.p-sub-contents__txt {
  margin-top: rem(98);
  margin-bottom: rem(78);
  font-size: rem(16);
  line-height: calc(32 / 16);
  text-align: center;
}

.p-sub-contents__wrap {
  @include mq(lg) {
    display: block;
    margin-bottom: rem(122);
  }
  display: flex;
  position: relative;
  margin-bottom: rem(222);
}
.p-sub-contents__wrap--reverse {
  flex-direction: row-reverse;
}
.p-sub-contents__img {
  @include mq(lg) {
    width: 100%;
    text-align: center;
  }
  width: calc(525 / 1180 * 100%);
}
.p-sub-contents__img img {
  @include mq(lg) {
    width: 100%;
  }
}
.p-sub-contents__body {
  @include mq(lg) {
    position: static;
    width: 100%;
    margin: auto;
  }
  height: rem(381);
  position: absolute;
  top: 10%;
  z-index: -3;
  width: calc(813 / 1180 * 100%);
  background-image: url(../../img/bg.jpg);
}
.p-sub-contents__body--right {
  left: 31.1%;
}
.p-sub-contents__body--left {
  left: 0;
}

.p-sub-contents__des {
  @include mq(lg) {
    margin: auto;
    padding: 0;
    padding-bottom: rem(60);
    text-align: center;
  }
  padding-bottom: rem(95);
  padding-left: calc(244 / 813 * 100%);
}
.p-sub-contents__des--left {
  @include mq(lg) {
    margin: auto;
    padding: 0;
    padding-bottom: rem(60);
    text-align: center;
  }
  padding-left: calc(60 / 813 * 100%);
}
.p-sub-contents__des h3 {
  padding-top: rem(60);
  font-size: rem(24);
  line-height: calc(24 / 32);
}
.p-sub-contents__des p {
  padding-top: rem(52);
  font-size: rem(16);
  line-height: calc(32 / 16);
}
.p-sub-contents__des span {
  display: inline-block;
  padding-top: rem(52);
  font-size: rem(14);
  line-height: calc(21 / 14);
}
